.display_todos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.todo{
   height: auto;
   width: 600px;
   font-weight: 400;
   background-color: rgb(217, 230, 230);
   place-items: center;
   margin: 5px;
   display: grid;
   place-items: start center;
   border-radius: 10px;
}

.completed_todo{
    height: auto;
    width: 600px;
    font-weight: 400;
    background-color: rgb(16, 133, 41);
    place-items: center;
    margin: 5px;
    display: grid;
    place-items: start center;
    border-radius: 10px;
}