*{
  margin:0;
}
.app_heading{
  display: flex;
  text-align: center;
  background-color: rgb(85, 93, 102);
  height: 50px;
  place-content: center;
  color: aliceblue;
  position: sticky;
  top:0;
  z-index: 10;
  overflow: hidden; 
}